footer {
    width: 100vw;

    #contact-us {
        height: 89vh;
        background-color: rgba(182, 153, 112, 0.667);

        #image {
            width: 40vw;
            height: 62vh;
        }

        #image img {
            width: 40vw;
            height: 62vh;
        }

        form {
            direction: rtl;
            width: 29vw;
            margin-top: 15vh;
            margin-left: 15.8vw;
            color: white;

            h1 {
                font: normal normal bold 2.1875rem/3.25rem Rubik Scribble;
            }

            p {
                font: normal normal normal 1.25rem/1.8125rem Fredoka;

            }

            .form-label {
                font: normal normal normal 1rem/1.5rem Fredoka;
            }

            .btn-primary {
                color: rgb(130, 109, 81);
                text-decoration: none;
                background-color: $bgc;
                border-color: $bgc
            }

        }
    }

    #box-icon {
        height: 15.5vh;
        background-color: $bgc;
        box-shadow: 0px 0px 20px wheat;

        .icon {
            padding: 1em;

            img {
                width: 2vw;
                height: 3.7vh;
            }
        }
    }

    #box-name {
        height: 5vh;
        font: normal normal normal 1rem/1.5rem Fredoka;
        background-color: $bgc;
        padding: 1em;
    }
}

@media screen and (max-width: 1200px) {
    footer {
        #contact-us {
            height: 97.5vh;

            #image {
                width: 50vw;
                height: 20vh;
            }

            #image img {
                width: 50vw;
                height: 20vh;
            }

            form {
                width: 80vw;
                margin-top: 0;
                margin-right: 0;
                margin: auto;

                h1 {
                    font: normal normal bold 1.5625rem/2.3125rem Rubik Scribble;
                }

                p {
                    font: normal normal normal 0.9375rem/1.375rem Fredoka;

                }

                .form-label {
                    font: normal normal normal 0.75rem/1.125rem Fredoka;
                }
            }
        }

        #box-name {
            font: normal normal normal 0.75rem/1.125rem Fredoka;
        }
    }


    #box-icon {

        .icon {
            img {
                width: 6vw !important;
                height: 6vh !important;
            }
        }
    }

}

@media screen and (min-width: 1024px) and (max-height:900px) and (max-width:1200px) {
    footer {
        #contact-us {
            #image {
                width: 22vw;
                height: 9vh;
            }

            #image img {
                width: 22vw;
                height: 9vh;
            }

        }
    }
}

@media screen and (max-width: 280px) {
    footer {
        #contact-us {
            #image {
                width: 40vw;
                height: 16vh;
            }

            #image img {
                width: 40vw;
                height: 16vh;
            }

        }
    }
}